.chart {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 14px 14px 40px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 14px 14px 40px 0px rgba(0,0,0,0.4);
box-shadow: 14px 14px 40px 0px rgba(0,0,0,0.4);
}

.chartTitle {
  margin-bottom: 20px;
}